server:
  port: 4300

spring:
  profiles:
    active: dev # 指定激活 dev 环境
  application:
    name: clinic-system
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/clinic_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  redis:
    host: localhost # Redis 服务器地址
    port: 6379      # Redis 服务器端口
    timeout: 2000ms # 连接超时时间
    database: 0     # 数据库索引
    lettuce:
      pool:
        max-active: 8   # 连接池最大连接数
        max-wait: -1ms  # 连接池最大等待时间
        max-idle: 8     # 连接池最大空闲连接
        min-idle: 0     # 连接池最小空闲连接
  servlet:
    multipart:
      #最大单个文件上传大小
      max-file-size: 10MB
      #最大请求大小
      max-request-size: 100MB

# MyBatis 配置
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:/mapper/*.xml # 指定 XML Mapper 文件位置
  type-aliases-package: com.dental.clinic.entity # 指定实体类包路径

# Actuator 配置
management:
  endpoints:
    web:
      exposure:
        include: health, info, loggers # 暴露 health, info, loggers 端点
  endpoint:
    health:
      show-details: always # 显示健康详情

# 日志配置
logging:
  level:
    com.dental.clinic: DEBUG # 设置你的项目包的日志级别为 DEBUG，可以看到更详细的日志
    org.springframework.security: INFO # 设置 Spring Security 的日志级别为 INFO
    org.springframework.web: DEBUG # 设置 Spring Web 的日志级别，可以看到请求映射等
    org.springframework.boot.autoconfigure: INFO # 可选：设置自动配置的日志级别
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n" # 自定义控制台日志格式
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" # 自定义文件日志格式
  file:
#    name: clinic-system.log # 指定日志文件名 name 和 path只有一个会起作用，name优先级高
    path: ./logs # 指定日志文件存放路径

# Swagger 配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

#配置阿里云OSS
aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    bucketName: clinic-system
    region: cn-beijing

# JWT配置 TODO
jwt:
  expire: 86400000 # 24 hours

# ... 其他配置 ...
app:
  default-reset-password: "Dental123!" # 设置一个更安全的默认密码，或留空使用代码中的默认值